body{
    margin: 0px;
    padding: 0px;
}
.main-page{
    /* background: #8A0011; */
    background: linear-gradient(to right, #000000, #450009, #8A0011, #450009, #000000);
    height: 850px;
    color: white;
    display: flex;
}
.landing{
    display: flex;
    position: relative;
    /* justify-content: center; */
    justify-content: flex-start;
    align-items: flex-start;
    padding: 40px;
    /* background-color: aqua; */
    /* gap:-200px; */
}
.landing-1{
    /* background-color: aquamarine; */
    width: 500px;
    padding: 40px;
    position: relative;
    z-index: 1;
    /* transform: rotate(-5deg); */
    /* top: 50px; */
    left: 60px;
    margin-top: -20px;
}
@font-face {
    font-family: 'Star Jedi';
    src: url('fonts/Starjedi.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.landing-1 h1{
    font-family: 'Star Jedi', Arial, Helvetica, sans-serif;
    font-size: 120px;
    /* width: 30px; */
    padding: 0px;
    /* background: blue; */
    line-height: 100px;
}
.landing-1 p{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 30px;
    
}
.landing-2{
    display: flex;
    align-items: center;
    justify-content: center;
    /* left: 50px;
    top: 200px; */
    /* z-index: 2; */
    /* transform: rotate(5deg); */
    /* background-color:aqua; */
    /* max-width: 950px; */
    /* margin-left: 40px; */
}
.landing-2 img{
    width: 950px;
    height: 650px;
    object-fit: contain;
}
.nav-bar{
    display: flex;
    /* background-color: aqua; */
    /* margin-left: auto; */
    /* align-items: left; */
    /* justify-content: right; */
    flex-direction: column;
    align-items: center;
    padding: 40px 100px 0px 0px;
    width: 150px;
    height: 800px;
    gap: 250px;
}
.nav-bar img{
    height: 120px;
    width: 120px;
}
.carousel {
    display: flex;
    flex-direction: column;
    align-content: center;
    gap: 40px;
}
.circle{
    background-color: grey;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}
.circle:hover{
    background-color: rgb(44, 41, 41);
}

/* RESULT PAGE */

.result-page{
    padding: 100px;
    color: white;
    background: linear-gradient(to right, #000000, #450009, #8A0011, #450009, #000000);
}

.controls{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 100px;
}
.controls button{
    padding: 20px 30px;
    /* background-color: #695F60; */
    background-color: rgb(105, 95, 95, 0.35);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.controls button:hover{
    background-color: rgb(105, 95, 95, 0.55);
}
.container_people, 
.container_planets {
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: row; */
    gap: 40px;
    justify-content: center;
}
.card {
    width: 300px;
    height: 400px;
    background-color: #000000;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}